<form [formGroup]="patientForm" (ngSubmit)="register()" novalidate>
    <mat-form-field appearance="outline">
       <mat-label>First name</mat-label>
       <input matInput placeholder="Name" formControlName="name">
       <mat-error *ngIf="patientForm.get('name').hasError('required')">Name is required</mat-error>
       <mat-error *ngIf="patientForm.get('name').hasError('minlength')">Name must be at least 2 characters long</mat-error>
     </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Middle name</mat-label>
      <input matInput placeholder="Middle name" formControlName="middleName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last name" formControlName="lastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
       <mat-label>Email</mat-label>
       <input matInput placeholder="xyz@gmail.com" formControlName="email">
       <mat-error *ngIf="patientForm.get('email').hasError('required')">Email is required</mat-error>
       <mat-error *ngIf="patientForm.get('email').hasError('email')">Invalid email format</mat-error>
     </mat-form-field>
  
     <mat-form-field appearance="outline">
       <mat-label>Password</mat-label>
       <input matInput type="password" formControlName="password">
       <mat-error *ngIf="patientForm.get('password').hasError('required')">Password is required</mat-error>
       <mat-error *ngIf="patientForm.get('password').hasError('minlength')">Password must be at least 7 characters long</mat-error>
     </mat-form-field>
  
    <button color="primary" [disabled]="!patientForm.valid" mat-raised-button>Submit!</button>
  </form> 